# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Data & Models
data/cord_dataset/
data/uploads/
data/*.jsonl
models/receipt_ner/
models/llama3_qlora/

# IDE & OS
.DS_Store
.vscode/
.pytest_cache/
.ipynb_checkpoints/
